h1 
{   color: rgba(99, 12, 12, 0.808); }
img 
{   width: 400px;   }
#thirdDiv 
{   height:600px; 
    width:500px; 
    background-color:darkcyan; 
    padding:50px; 
    border: 4mm ridge rgba(22, 6, 66, 0.5); }
#spanId 
{   font-size: 18px; 
    margin: 50px; }
    body {
        background-image: linear-gradient(45deg, rgb(31, 11, 100), rgb(17, 139, 133));
    }
    a {background-color: black;}
    div {
        margin-left: auto;
        margin-right: auto;
    }
    .divClass {
        margin-left: 500px;
        margin-right: 500px;
    }