.divClass h1{color:rgb(216, 93, 22);}
#thirdDiv ul li img{width: 400px;}
#tirdDiv {height: 600px;width: 500px; background-color: red;padding: 50px;border: 4mm rgb(65, 9, 110);}
#spanId {font-size: 18px;margin: 50px;}